@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #333853;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.entrada_dados {
    font-size: 3.5em;
    color: #141414;
    text-align: center;
}

.botoes {
    display: flex;
}
.botoes button {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.botoes button img {
    margin-right: 4px;
}

.botoes #iniciar{
    background-color: green;
}

.botoes #pausar{
    background-color: rgb(36, 39, 36);
}

.botoes #reiniciar{
    background-color: rgb(226, 0, 0);
}

.botoes  button:hover {
    transition: 0.2s;
    background-color: rgb(247, 241, 241);
    cursor: pointer;
    color: rgb(245, 245, 245);
}


@media (max-width:500px){
    .botoes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}